{% if ea.crud.currentAction == 'detail' %}
<table class="table datagrid table-link">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Tarification</th>
            <th>Tarif</th>
        </tr>
    </thead>
    <tbody>
        {% for contrat in field.value %}
        {% set url = ea_url().setController('App\\Controller\\Admin\\ContratCrudController').setAction('detail').setEntityId(contrat.id) %}
        <tr data-href="{{ url }}">
            <td>{{ contrat.id }}</td>
            <td>{{ contrat.dateDebut|date('d/m/Y') }}</td>
            <td>{{ contrat.dateFin|date('d/m/Y') }}</td>
            <td>{{ contrat.tarification.value }}</td>
            <td>{{ contrat.tarif|number_format(2, '.', ',')}} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script src="js/tables.js"></script>