{% if ea.crud.currentAction == 'detail' %}
<table class="table datagrid table-link">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date Facturation</th>
            <th>Généré</th>
            <th>Payé</th>
            <th>Date Envoi</th>
            <th>Relancer par email</th>
        </tr>
    </thead>
    <tbody>
        {% for facture in field.value %}
        {% set url = ea_url().setController('App\\Controller\\Admin\\FactureCrudController').setAction('detail').setEntityId(facture.id) %}
        {% set urlAddRelance = ea_url().setController('App\\Controller\\Admin\\RelanceCrudController').setAction('new').set('factureId', facture.id) %}
        <tr data-href="{{ url }}">
            <td>{{ facture.id }}</td>
            <td>{{ facture.dateFacturation|date('d/m/Y') }}</td>
            <td>{{ facture.genere ? '<i class="fa-solid fa-check"></i>' : '<i class="fa-solid fa-xmark"></i>'}}</td>
            <td>{{ facture.paye ? '<i class="fa-solid fa-check"></i>' : '<i class="fa-solid fa-xmark"></i>'}}</td>
            <td>{{ facture.dateEnvoi|date('d/m/Y') }}</td>
            {% if facture.paye == false %}
            <td><a href="{{ urlAddRelance }}"><i class="fa-solid fa-file-invoice-dollar"></i> Effectuer une relance</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script src="js/tables.js"></script>