{% if ea.crud.currentAction == 'detail' %}
<table class="table datagrid table-link">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Type Relance</th>
            <th>Message</th>
            <th>Mail ID</th>
        </tr>
    </thead>
    <tbody>
        {% for relance in field.value %}
        {% set url = ea_url().setController('App\\Controller\\Admin\\RelanceCrudController').setAction('detail').setEntityId(relance.id) %}
        <tr data-href="{{ url }}">
            <td>{{ relance.id }}</td>
            <td>{{ relance.dateRelance|date('d/m/Y') }}</td>
            <td>{{ relance.typeRelance.value }}</td>
            <td>{{ relance.message }}</td>
            {% if relance.typeRelance.value == 'Mail' %}
            <td>{{ relance.mail }}</td>
            {% else %}
            <td><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script src="js/tables.js"></script>